# The RPC URL of the Ethereum network to use for the transactions (Hardhat node, Anvil, etc.)
RPC_URL=
# The private key of the wallet to use for the transactions
PRIVATE_KEY=
# The address of the deployed Counter contract
COUNTER_ADDRESS=
